html, body {
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.App {
    background-color: black;
}

.container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content-container {
    width: 1200px;
}

.logo {
    width: 154px;
}

.header {
    background-color: #3366bc;
    position: absolute;
    top: 0;
    font-size: calc(10px + 2vmin);
}

.header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.nav-link, .footer-link {
    color: white;
    font-weight: bold;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 0 gray;
    text-decoration: none;
}

.footer-text {
    font-size: 16px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}

.signin {
    width: 154px;
    display: flex;
    justify-content: end;
}

.signout {
    width: 154px;
    display: flex;
    justify-content: end;
    cursor: pointer;
}

.header, .footer {
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    max-height: 100px;
    min-height: 50px;
    height: max-content;
    font-size: calc(1px + 2vmin);
    color: white;
    padding: 10px 0;
}

.footer {
    background-color: #606573;
    position: absolute;
    bottom: 0;
}

.content {
    background-color: white;
    height: 100%;
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.profile-content {
    display: flex;
    flex-direction: column;
}

.profile-button {
    font-size: 18px;
    margin: 10px;
    color: #005580;
}
